<div class="outer-div">
    <div class="content">
        <p class="title">Password Generator</p>
        <div class="output dark">
            <p contenteditable="false">{{password}}</p>
            <!-- <img src="/public/copy.jpg" alt="copy-icon"> -->
            <button class="copy" type="submit" (click)="copyPass()">COPY</button>
        </div>
        <div class="customization dark">
            <div class="length">
                <p>Character Length</p>
                <p>{{sliderValue}}</p>
            </div>
            <div class="slider">
                <input type="range" id="volume" [(ngModel)]="sliderValue" min="4" max="20" value="8" step="1">
            </div>
            <div class="checkbox">
                <input type="checkbox" id="uppercase" [(ngModel)]="includeUC">
                <label for="checkbox">Include Uppercase Letters</label>
                <br>
                <input type="checkbox" id="lowercase" [(ngModel)]="includeLC">
                <label for="lowercase">Include Lowercase Letters</label>
                <br>
                <input type="checkbox" id="numbers" [(ngModel)]="includeN">
                <label for="numbers">Include Numbers</label>
                <br>
                <input type="checkbox" id="symbols" [(ngModel)]="includeS">
                <label for="symbols">Include Symbols</label>
            </div>
            <div class="indicator">
                <p>STRENGTH</p>
                <p>{{strengthLevel}}</p>
            </div>
            <button type="button" class="generate" (click) = "generatePassword()">GENERATE &nbsp;&nbsp; -></button>
        </div>
    </div>
</div>