.outer-div{
    display: flex;
    height: 100vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 24px;
    color: rgb(212, 212, 212);
    letter-spacing: 1px;
    line-height: 50px;
}

.content{
    min-width: fit-content;
    width : 30%;
}

.output{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    margin-bottom: 30px;
    min-height: fit-content;
}

.copy{
    width: 5rem;
    height: 3rem;
    background-color: rgb(34, 106, 119);
    border-radius: 10px;
    box-shadow: 12px;
}

.customization{
    padding: 30px;
}

.length{
    display: flex;
    justify-content: space-between;
}

.customization > p {
    font-size : 20px;
}

.slider > input{
    width: 100%;
}

.checkbox{
    text-align: left;
}

.checkbox input[type="checkbox"] {
    margin-right: 20px;
    background-color: rgb(186, 242, 195);
}

.indicator{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 20px 0px;
    background-color: rgb(9, 8, 13);
    padding: 10px 30px;
}

.generate{
    padding: 20px;
    width: 100%;
    font-size: 24px;
    letter-spacing: 1px;
    border: 2px solid rgb(186, 242, 195);
    background-color: rgb(36, 35, 43);
    color: rgb(186, 242, 195);
}

.dark{
    background-color: rgb(36, 35, 43);
    border-radius: 10px;
}

.title{
    margin-bottom: 15px;
    letter-spacing: 3px;
}